body{
	color: #343434;
    font-size: 16px;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
}

h1{
	font-weight: bold;
	font-size: 1.9em;
}

h4{
	font-size: 0.9em;
}

.margin-bottom{
	margin-bottom: 20px;
}

.grayital{
	font-style: italic;
	color: #999;
}
.cbheader{
	background-color: white;
	height: 50px;
	line-height: 60px;
	margin-left: 20px;
}

.page{
	background-color: #F4F4F4;
}

.sign-up-form, .form{
	background-color: white;
	margin-top: 20px;

}

#logo{
	width: 192px;
	margin-top: 10px;
}


.required-field:before{
	content: "* ";
	color:  #FE453A;
}

.form-control{
	height: 40px;
}

a{
	color: #09A0DB;
	text-decoration: none;
}
a:hover{
	color: #09A0DB;
	text-decoration: underline;
}

.error{
	color: red;
	font-size: 12px;
}

.firstName-error, .lastName-error, .password-error{
	display:  none;
}

.btn-green{
	background: #85CE3F;
	width: 545px;
	color: white;
}